<button id="glogin">google login</button>

<!--<div id="googleBtn" (click)="googleInit()">Google</div>-->
<!-- HTML for render Google Sign-In button -->
<!--<div id="gSignIn"></div>
&lt;!&ndash; HTML for displaying user details &ndash;&gt;
<div class="userContent"></div>-->


<!--<div class="profile" *ngIf="userDetails === 'true'">
  <div class="head">
    <p>welcome {{mailDetails.name.givenName}}</p><span><a href="javascript:void(0)" (click)="signOut()">Sign out</a></span>
  </div>
  <img src="{{mailDetails.image.url}}"/>
  <div class="proDetails">
    <p>{{mailDetails.displayName}}</p>
    <p>{{mailDetails.emails[0].value}}</p>
    <p>{{mailDetails.gender}}</p>
    <p>{{mailDetails.id}}</p>
    <p><a href="{{mailDetails.url}}">View Google+ Profile</a></p>
  </div>
</div>-->
