
<div class="forHigh">
    <div class="auth-wrapper ">
      <div class="all-wrapper menu-side with-pattern">
        <div class="auth-box-w">
          <div class="logo-w"><a><img alt="" src="../../assets/img/MZLogo-1.svg"></a></div>
          <h4 class="auth-header">Login Form</h4>
          <button id="glogin">
          <span  class="google-plus aui-icon aui-icon-large aid-icon-google">
          </span>
            <span class="log-span">Log in with Google</span>
          </button>

          <!--<form #loginForm="ngForm">
            <div class="form-group">
              <label >Username</label>
              <input class="form-control" placeholder="Enter your username" type="text" name="loginUserName" [(ngModel)]="loginUsers.username" required>
              <div class="pre-icon os-icon os-icon-user-male-circle"></div>
            </div>
            <div class="form-group">
              <label >Password</label>
              <input class="form-control" placeholder="Enter your password" type="password" name="loginPassword" [(ngModel)]="loginUsers.password" required>
              <div class="pre-icon os-icon os-icon-fingerprint"></div>
            </div>
            <div class="buttons-w model-right">
              <span class="signUp-btn-span"><button class="btn btn-primary" [disabled]="!loginForm.form.valid"  (click)="userLogin()">Log in</button></span>
              <span><button class="btn btn-primary"  routerLink="/registrationForm" >signUp</button></span>
            </div>
          </form>-->
        </div>
      </div>
    </div>
</div>
<div class="toast jam" aria-hidden="true">
 <p>Authentication {{userResponsce}}</p>
</div>
