<!--

<div class="sidebar-wrapper">
  <div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
      <div class="logo-img">
        &lt;!&ndash;<img src="../../assets/img/angular2-logo.png" alt="">&ndash;&gt;
      </div>
      Mindzen Chat
    </a>
  </div>
  <div class="text-center">
    <h5 (click)="friendsList()">Chat</h5>
  </div>
  <ul class="nav">
    <li class="divider" *ngIf="isNotMobileMenu()"></li>
    <li *ngFor="let chatList of chatLists" routerLinkActive="active" >
        &lt;!&ndash;<a [routerLink]="[chatList.username]">&ndash;&gt;
            &lt;!&ndash;<i class="{{menuItem.icon}}"></i>

       &lt;!&ndash; </a>&ndash;&gt;
      <p>{{chatList.username}}</p>
    </li>
    &lt;!&ndash;<li>
      <a >
        <i ></i>
        <p>Friend 1</p>
      </a>
    </li>
    <li>
      <a >
        <i ></i>
        <p>Friend 2</p>
      </a>
    </li>&ndash;&gt;
  </ul>
</div>
-->
<h1>{{onlineFlag}}</h1>
